<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{consado}}">
		{{#if consado}}DEVOUR!{{else}}UN-DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>